<h3>Composers</h3>

<ul>
  {{#each model as |composer|}}
    <li>
      {{composer.name}} {{#link-to "composer.edit" composer}}edit{{/link-to}}
    </li>
  {{/each}}
</ul>
<div>
  {{#link-to 'composer.new'}}Add Composer{{/link-to}}
</div>
