<h3>{{model.title}}</h3>
<h4>Composer: {{model.composer.name}}</h4>
<div>
  {{#link-to "piece.edit" model.id}}Edit Piece{{/link-to}}
</div>
<div class="">
  {{#link-to "pieces"}}Back to Pieces List{{/link-to}}
</div>
