<h3>Add New Composer</h3>
<form>
  <div>
    <label>Name:</label>
    {{input type="text" value=model.name}}
  </div>
  <div>
    <button {{action 'add' model}}>Add Composer</button>
    <button {{action 'cancel' model}}>Cancel</button>
  </div>
</form>
